body {
  background: radial-gradient(
    759px at 15% 35%,
    rgb(15, 164, 102) 0%,
    rgb(10, 64, 88) 90%
  );
}

a {
  color: #ff66c4;
  text-decoration: none;
}

a:hover {
  color: #e84a5f;
  text-decoration: none;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: #fff;
}
