body {
  background: linear-gradient(
    109.6deg,
    rgb(9, 9, 121) 11.2%,
    hsl(293, 93%, 33%) 53.7%,
    rgb(0, 212, 255) 100.2%
  );
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: #fff;
}

.App-footer a {
  color: #eebca1;
  text-decoration: none;
}

.App-footer a:hover {
  color: #c6b9b3;
  text-decoration: none;
}
