.Synonyms {
  margin: 10px 0px 10px 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
  background: #9006a1;
  color: white;
  padding: 8px 15px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}
